/bin/
.metadata
doc/
.DS_Store
.settings
/output/
*.csv
build/
runnables/

*.rtf

src/help/Help09_Graphs.rtf

src/help/Help08_Sexual_Selection.rtf

src/help/Help07_Migration.rtf

src/help/Help06_Mutation.rtf

src/help/Help05_Natural_Selection.rtf

src/help/Help04_Drift.rtf

src/help/Help03_Initial_Pop.rtf

src/help/Help02_Exp_Config.rtf

src/help/Help01_Introduction.rtf

*.rtf
